*{
  font-family: 'Roboto' serif;
  padding: 0;
  margin: 0;
}
:root{
  --primaryDark : #9f2b68;
  --primaryLight : #e6e6fa;
  --secondaryDark : #cf9fff;
  --secondaryLight : #ffffff;
}
header{
  background: var(--primaryDark);
  padding: 10px;
  text-align: center;
  font-size: 64px;
  color: #ffffff;
}
